


:root{
  --maincolor: #ed4d2d;/*  #f03248 */
  --oldcolor: #f6dee1;
  --hover: #ff5e14;
  --pricecolor: #fd213b; /*#fd213b*/
}

@import "../assets/styles/main.css";
@import "../assets/styles/header.css";
@import "../assets/styles/index.css";
@import "../assets/styles/404page.css";
@import "../assets/styles/bootstrap-4-3-min.css";
@import "../assets/styles/custom.css";
@import "../assets/styles/collection.css";
@import "../assets/styles/cart_style.css";
@import "../assets/styles/product_style.css";
@import "../assets/styles/account_oder_style.module.css";
@import "../assets/styles/breadcrumb_style.module.css";
@import "../assets/styles/_sprite.css"




